<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="cfs-cont">
        <header class="out-inp-header">
            <h1 class="out-inp-heading"> CFS 화출고증</h1>
            <ul class="out-inp-nav">
                <li> <a href="main.html" class="nav-link ">MAIN</a></li>
                <li> <a href="output.html" class="nav-link ">출고</a></li>
                <li> <a href="input.html" class="nav-link ">입고</a></li>
            </ul>
        </header>
        <main class="cfs-main">
            <h2>CFS 화물 입출고증 발행 조회</h2>
            <table class="search-row">
                <tbody>
                    <tr>
                        <td>
                            <input type="text">
                        </td>
                        <td>
                            <input type="text">
                        </td>
                        <td>
                            <input type="text">
                        </td>
                        <td>
                            <input type="text">
                        </td>
                        <td>
                            <input type="text">
                        </td>
                        <td>
                            <button class="search-btn"> 조회 </button>
                        </td>
                        <td>
                        <td>
                            <button class="pritn-btn"> 출력하기</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="data-t">
                <thead>
                    <tr>
                        <td>번호</td>
                        <td>전송일자</td>
                        <td>구본</td>
                        <td>기사명</td>
                        <td>화주명</td>
                        <td>Port</td>
                        <td>수량</td>
                        <td>용적</td>
                        <td>입줄고증발행일시</td>
                        <td>오류내용</td>
                    </tr>
                </thead>
            </table>
        </main>

</body>

</html>