<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>QR사용법</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <%- include("./partials/nav") -%>
        <main class="guide-main">
            <h1 class="guidence-hadding">QR사용법</h1>
            <div class="guidence-cont">
                <p class="guidence"> 1. 회원가입 후 로그인</p>
                <p class="guidence"> 2. 입/줄고 용청서 작성</p>
                <p class="guidence"> 3. 작성완료 후 QR전송 크릭</p>
                <p class="guidence"> 4. CFS 도착후 바코드화면에 QR 코드 스캔</p>
                <p class="guidence"> 5. 입/출고증 발행</p>
            </div>
        </main>
</body>

</html>