<!DOCTYPE html>
<html>

<head>
    <title> LOG_IN </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="log-in-page">
        <div class="capino-con">
            <h1 class="capino"><span class="capino-red">CA</span>PINO</h1>
            <p class="heading-text"> CFS 무인 입출고증 발행시스템 </p>
        </div>
        <div class="log-in">
            <form action="#">
                <input type="text" class="user-name" name="user-name" placeholder="user name">
                <input type="password" class="password" name="password" placeholder="password">

                <label class="checkbox" for="check"> <input type="checkbox" id="check"> 체크시 아이디 암호가 저장됩니다 </label>

                <button class="log-in-btn"> <a href="/main"> 로그인 </a> </button>
                <button class="without-log-in"> <a href="/main"> 로그인 없이 이용하기 </a></button>

            </form>
        </div>
    </section>
    <script src="main.js"></script>
</body>

</html>