<!DOCTYPE html>
<html>

<head>
    <title> Main </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <main class="main-page">
        <img class="capino-img" src="../img/KakaoTalk_20210529_182231447.jpg" alt="capino-img">
        <!-- <div class="capino-con">
            <h1 class="capino"><span class="capino-red">CA</span>PINO</h1>
            <p class="heading-text"> CFS 무인 입출고증 발행시스템 </p>
        </div> -->
        <div class="main-page-btns">
            <a href="/output" class="output-btn"> <span>출고</span> </a>
            <a href="/input" class="input-btn"> <span>입고</span> </a href="/input">
            <div class="other-btns">
                <a href="/CFS"> <span>입출고 조회</span> </a>
                <a href="#"> <span>사용법</span> </a>
            </div>
        </div>
        <div class="main-footer">
            <p class="footer-text"><span class="slc">SLC</span> 선광종합물류(주) CFS</p>
        </div>
    </main>
</body>

</html>