<!DOCTYPE html>
<html>

<head>
    <title> Main </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <main class="main-page">
        <div class="capino-con">
            <h1 class="capino"><span class="capino-red">CA</span>PINO</h1>
            <p class="heading-text"> CFS 무인 입출고증 발행시스템 </p>
        </div>
        <div class="main-page-btns">
            <button class="out-inp-btn output-btn"><a href="/output"> 출고 </a></button>
            <button class="out-inp-btn input-btn"><a href="/input"> 입고</a href="/input"></button>

            <div class="other-btns">
                <button class="btn" type="submit"> <a href="/CFS">입출고 조회</a> </button>
                <button class="btn" type="submit">사용법</button>
            </div>
        </div>
        <div class="footer">
            <p class="footer-text"><span class="slc">SLC</span> 선광종합물류(주) CFS</p>
        </div>
    </main>
</body>

</html>