<!DOCTYPE html>
<html>

<head>
    <title> Main </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <main class="main-page">
        <img class="capino-img" src="../img/KakaoTalk_20210529_182231447.jpg" alt="capino-img">

        <div class="main-page-btns">
            <a href="/output"> <img class="btn-imgs" src="../img/KakaoTalk_20210531_211913798_02.png" alt=""> </a>
            <a href="/input"> <img class="btn-imgs" src="../img/KakaoTalk_20210531_211913798.png" alt=""> </a>
            <a href="/output/outputdb"> <img class="btn-imgs" src="../img/KakaoTalk_20210531_211913798_03.png" alt="">
            </a>
            <a href="/input/inputdb"> <img class="btn-imgs" src="../img/KakaoTalk_20210531_211913798_01.png" alt="">
            </a>
        </div>
        <div class="main-footer">
            <p class="footer-text"><span class="slc">SLC</span> 선광종합물류(주) CFS</p>
        </div>
    </main>
</body>

</html>