<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="input-cont">
        <%- include("../partials/nav") -%>
            <main class="input-info">
                <h1 class="page-heading">입고 요청서</h1>
                <form action="/input" method="POST" autocomplete="off">
                    <div class=" personal-info">
                        <table class="tper-pro-info">
                            <tbody>
                                <tr>
                                    <th> 기사님 성함 </th>
                                    <td> <input type="text" placeholder="성함" name="성함"> </td>
                                    <th> 연락처 </th>
                                    <td> <input type="text" placeholder="연락처" name="연락처"> </td>
                                </tr>
                                <tr>
                                    <th> 차량번호</th>
                                    <td> <input type="text" placeholder="차량번호" name="차량번호"> </td>
                                    <th> </th>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="inp-pro-info1">
                        <table class="tper-pro-info">
                            <tbody>
                                <tr>
                                    <th>선사/포워더</th>
                                    <td><input type="text" name="포워더"></td>
                                    <th>도착항</th>
                                    <td><input type="text" name="도착항"></td>
                                </tr>
                                <tr>
                                    <th>선명/황자</th>
                                    <td><input type="text" name="황자"></td>
                                    <th>출항일자</th>
                                    <td><input type="text" name="출항일자"></td>
                                </tr>
                                <tr>
                                    <th>부킹넘버</th>
                                    <td><input type="text" name="부킹넘버"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="inp-pro-info2">
                        <table class="inp-bottom-table tout-inp-pro-info">
                            <thead>
                                <tr>
                                    <th><span>화주명(상호)</span> </th>
                                    <th> <span> 포장규격</span></th>
                                    <th> <span> 입고수량 </span> </th>
                                    <th> <span> 중량(kg) </span> </th>
                                    <th> <span> 용적(cbm) </span> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" name="화주명">
                                    </td>
                                    <td>
                                        <input type="text" name="포장규격">
                                    </td>
                                    <td>
                                        <input type="text" name="입고수량">
                                    </td>
                                    <td>
                                        <input type="text" name="중량">
                                    </td>
                                    <td>

                                        <input type="text" name="용적">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" name="화주명">
                                    </td>
                                    <td>
                                        <input type="text" name="포장규격">
                                    </td>
                                    <td>
                                        <input type="text" name="입고수량">
                                    </td>
                                    <td>
                                        <input type="text" name="중량">
                                    </td>
                                    <td>
                                        <input type="text" name="용적">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" name="화주명">
                                    </td>
                                    <td>
                                        <input type="text" name="포장규격">
                                    </td>
                                    <td>
                                        <input type="text" name="입고수량">
                                    </td>
                                    <td>
                                        <input type="text" name="중량">
                                    </td>
                                    <td>
                                        <input type="text" name="용적">
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="plus-btn-cont">
                            <a class="inp-plus-btn plus-btn"><span>+</span></a>
                        </div>
                    </div>
                    <%- include("../partials/footer") -%>
            </main>
    </section>
    <script src="index.js"></script>
</body>


</html>