<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="input-cont">
        <header class="nav output-color">
            <a href="/main"><img class="nav-logo-img" src="../../img/KakaoTalk_20210531_214254921.png" alt=""></a>
            <ul class="nav-list">
                <li> <a href="/main" class="nav-link ">MAIN</a></li>
                <li> <a href="/output" class="nav-link output-link">출고</a></li>
                <li> <a href="/input" class="nav-link input-link">입고</a></li>
                <li> <a href="/output/outputdb" class="nav-link outputdb-link">출고 조회</a></li>
                <li> <a href="/input/inputdb" class="nav-link inputdb-link">입고 조회</a></li>
            </ul>
        </header>
        <main class="input-info">
            <h1 class="page-heading">입고 요청서</h1>
            <form action="/input" method="POST" autocomplete="off">
                <div class=" personal-info">
                    <table class="tper-pro-info">
                        <tbody>
                            <tr>
                                <th> 기사님 성함 </th>
                                <td> <input type="text" placeholder="성함" name="성함"> </td>
                                <th> 연락처 </th>
                                <td> <input type="text" placeholder="연락처" name="연락처"> </td>
                            </tr>
                            <tr>
                                <th> 차량번호</th>
                                <td> <input type="text" placeholder="차량번호" name="차량번호"> </td>
                                <th> 소속회사 </th>
                                <td> <input type="text" placeholder="소속회사" name="소속회사"> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="inp-pro-info1">
                    <table class="tper-pro-info">
                        <tbody>
                            <tr>
                                <th>선사/포워더</th>
                                <td><input type="text" name="포워다">
                                <th>부킹넘버</th>
                                <td><input type="text" name="부킹넘버">
                            </tr>
                            <tr>
                                <th>선명/황자</th>
                                <td><input type="text" name="황자">
                                <th>도착항</th>
                                <td><input type="text" name="도착항">
                            </tr>
                            <tr>
                                <th>화주명(상호)</th>
                                <td><input type="text" name="화주명">
                                <th>출항일자</th>
                                <td><input type="text" name="출항일자">
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="inp-pro-info2">
                    <table class="inp-bottom-table tout-inp-pro-info">
                        <thead>
                            <tr>
                                <th><span>화물명</span> </th>
                                <th> <span> 포장규격</span></th>
                                <th> <span> 수량(개) </span> </th>
                                <th> <span> 용적(CBM) </span> </th>
                                <th> <span> 중량(Kg) </span> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="화물명">
                                </td>
                                <td>
                                    <input type="text" name="포장규격">
                                </td>
                                <td>
                                    <input type="text" name="수량(개)">
                                </td>
                                <td>
                                    <input type="text" name="용적(CBM)">
                                </td>
                                <td>
                                    <input type="text" name="중량(Kg)">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="화물명">
                                </td>
                                <td>
                                    <input type="text" name="포장규격">
                                </td>
                                <td>
                                    <input type="text" name="수량(개)">
                                </td>
                                <td>
                                    <input type="text" name="용적(CBM)">
                                </td>
                                <td>
                                    <input type="text" name="중량(Kg)">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="화물명">
                                </td>
                                <td>
                                    <input type="text" name="포장규격">
                                </td>
                                <td>
                                    <input type="text" name="수량(개)">
                                </td>
                                <td>
                                    <input type="text" name="용적(CBM)">
                                </td>
                                <td>
                                    <input type="text" name="중량(Kg)">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="plus-btn-cont">
                        <a class="inp-plus-btn plus-btn"><span>+</span></a>
                    </div>
                </div>
                <footer class="footer">
                    <div class="footer-btns">
                        <button type=" submit" name="sbm" value="qr">QR만들기</button>
                        <button type="submit" name="sbm" value="save">저장</button>
                        <button type="submit" value="print"> 출고증인쇄</button>
                    </div>
                    <div>
                        <!-- for copyright -->
                    </div>
                </footer>

        </main>
    </section>
    <script src="index.js"></script>
</body>


</html>