/* print page  */
@page {
  size: A4;
  padding: 1rem;
  box-sizing: border-box;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  /* ... the rest of the rules ... */
}