/* print page  */
@page {
  size: A4;
  margin: 3rem 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    display: flex;
    justify-content: center;
  }
  /* ... the rest of the rules ... */
}