<section class="log-in-page">
    <img class="capino-img" src="../img/KakaoTalk_20210529_182231447.jpg" alt="capino-img">

    <div class="log-in">
        <form action="/" method="POST">
            <input type="text" class="user-name" name="user-name" placeholder="user name">
            <input type="password" class="password" name="password" placeholder="password">
            <div class="check-box">
                <label> <input type="checkbox" name="checkbox"> 체크시 아이디 암호가 저장됩니다 </label>
            </div>
            <button type="submit" class="log-in-btn"> 로그인 </button>
            <button type="submit" class="without-log-in"> 로그인 없이 이용하기 </button>

        </form>
    </div>
</section>