<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <section class="output-cont">
        <%- include("../partials/nav") -%>
            <main class="output-info">
                <h1 class="page-heading">출고 요청서</h1>
                <form action="/output" method="POST" autocomplete="off">
                    <div class="personal-info">
                        <table class="tper-pro-info">
                            <tbody>
                                <tr>
                                    <th> 기사님 성함 </th>
                                    <td> <input type="text" placeholder="성함" name="성함"> </td>
                                    <th> 연락처 </th>
                                    <td> <input type="text" placeholder="연락처" name="연락처"> </td>
                                </tr>
                                <tr>
                                    <th> 차랑번호 </th>
                                    <td> <input type="text" placeholder="차랑번호" name="차랑번호"> </td>
                                    <th> </th>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="output-product-info">
                        <table class="tout-inp-pro-info out-bottom-table">
                            <thead>
                                <tr>
                                    <th> <span> B/L NO. (비엘 번호)</span></th>
                                    <th><span>화주명(상호)</span> </th>
                                    <th> <span> 전체수량 </span> </th>
                                    <th> <span> 출고수량 </span> </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" name="비엘">
                                    </td>
                                    <td>
                                        <input type="text" name="화주명">
                                    </td>
                                    <td>
                                        <input type="text" name="전체수량">
                                    </td>
                                    <td>
                                        <input type="text" name="출고수량">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" name="비엘">
                                    </td>
                                    <td>
                                        <input type="text" name="화주명">
                                    </td>
                                    <td>
                                        <input type="text" name="전체수량">
                                    </td>
                                    <td>
                                        <input type="text" name="출고수량">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" name="비엘">
                                    </td>
                                    <td>
                                        <input type="text" name="화주명">
                                    </td>
                                    <td>
                                        <input type="text" name="전체수량">
                                    </td>
                                    <td>
                                        <input type="text" name="출고수량">
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="plus-btn-cont">
                            <a class="out-plus-btn plus-btn"><span>+</span></a>
                        </div>
                    </div>
                    <%- include("../partials/footer") -%>
                </form>
            </main>

    </section>
    <script src="index.js"></script>
</body>

</html>